#############################################################################
#
# CLOUDFLARE ACCOUNT SETTINGS
#
# Create an Account API Token with the following permissions (first level is
# the category in the Dashboard where the permissions appear):
#
#   Developer Platform:
#       D1 - Edit
#       Workers Containers - Edit
#       Workers R2 Storage - Edit
#       Workers Scripts - Edit
#       Workers Tail - Read
#   Cloudflare One / Zero Trust
#       Access - Edit
#   Account & Billing
#       Account API Tokens - Edit
#       Account Settings - Read
#
# The Account ID and API Token are shown one time during confirmation.
# 
CLOUDFLARE_ACCOUNT_ID="{your-account-id}"
CLOUDFLARE_API_TOKEN="cfat_{your-api-token}"

#############################################################################
#
# CLOUDFLARE WORKERS DOMAIN
#
# The Cloudflare Workers Domain is shown in the "Account Details" box on the
# Workers & Pages page within the Dashboard.
CLOUDFLARE_WORKERS_DOMAIN="{your-workers-domain}.workers.dev"

#############################################################################
#
# CLOUDFLARE ZERO TRUST SETTINGS
#
# The Cloudflare Team Domain is shown in Zero Trust > Settings
# The IDP ID is the last segment of the URI when you go to the following menu
# option: Zero Trust > Integrations > Identity Providers > {Your IdP}
#
CLOUDFLARE_TEAM_DOMAIN="{your-team-domain}.cloudflareaccess.com"
CLOUDFLARE_IDP_ID="{your-idp-id}"
